<!DOCTYPE html>
<html>
<head>
	<title>FERPA</title>
	<link rel="stylesheet" type="text/css" href="ferpa.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
<div>
	<h2>FERPA Agreement</h2>
	<p>Please read carefully over the FERPA agreement. When complete, either select 'I Agree' or 'I Do Not Agree'</p>
	<div class="ferpa">
		<p>2012 - Chill Cosby
In 2012 Niko Is independently released Chill Cosby. The mixtape was well received locally and would help Niko garner a strong internet buzz. The single, "Steffi Graf" featuring Action Bronson, was featured on popular websites such as HipHopDX, 2DopeBoyz, Complex Magazine and others.[6][7][8] The independent project landed Niko an interview with Vibe Magazine and aligned him with regional tastemakers, such as DJ Smallz and Ayo the Producer.[9][10]

2013 - Good Blood LP
Good Blood, a precursor to his long awaited Brutus project, was Niko's first release in 2014. The title is the literal English translation of the Brazilian term, 'Sangue Bom' and Niko says that he created many characters in the album to be direct representations of his culture.[11] Good Blood was entirely produced by Thanks Joey with the exception of the self-produced "Onda". The project received positive reviews, with Orlando Weekly commenting, "Bigger than his fro and a clear level up, Good Blood is the sound of an artist hitting major-league stride." [12] In May 2013, Niko recorded a song with industry veteran, Talib Kweli, for his Brutus project. Kweli then developed an interest in Niko's career and had asked him to join his recently formed Javotti Media label.

Brutus - Present
Niko released Brutus, with longtime collaborator, Thanks Joey. The album was released through Javotti Media and features Talib Kweli and other notable artists.[13]

Since the release of Brutus, along with his creative-partner, Thanks Joey, Niko has been working extensively with Colours of the Culture, a global collective of visual artists and musicians.[14] Colours released their first collaborative project, Roy G Biv: What a Colorful World in October 2015.[15] The album features guest appearances from Talib Kweli, Styles P, Niko Is and other Colours of the Culture affiliates.

Niko Is appeared on four songs on Talib Kweli & 9th Wonder's collaborative effort, Indie 500, released in November 2015.[16]</p>
	</div>
	<div class="buttons">
		<button class="no">I Do Not Agree</button>
		<button class="yes" type="submit">I Agree</button>
	</div>
</div>
</body>
</html>
