<!DOCTYPE html>
<html>
<head>
	<title>{{ StudentorProfessor }} Login</title>
</head>
<body>
	<a href="{{ BACK }}">Back</a>
	<h1>{{ StudentorProfessor }} Login</h1>
    <form action="/login/{{ StudentorProfessor }}" method="post">
    	<p>Enter the email attached to your account</p>
    	<input type="email" name="email">
        <br>
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">
        <input type="submit" value="Login">
    </form>
    <a href="{{ ADDRESS }}/newAccount/{{ StudentorProfessor }}">Need an account?</a>
</body>
</html>
