<!DOCTYPE html>
<html>
<head>
    <title>{{ StudentorProfessor }} New Account</title>
    <link rel="stylesheet" type="text/css" href="newaccount.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <button class="back" onclick="location.href='landingpage.html'">Back</button>
    <h1>Create a {{ StudentorProfessor }} Account</h1>
    <p>Greetings, new friend! Please enter your information so we can begin our journey together.</p>
    <form action="/new_account.php" method="post">
        <p>Email:</p>
        <input type="text" name="email">
        <br>
        <p>Name:</p>
        <input type="text" name="name">
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">
        <br>
        <button type="submit">Create New Account</button>
        <br>
    </form>
    <button>Login to Existing Account</button>
</body>
</html>
