<!DOCTYPE html>
<html>
<head>
	<title>AOC Detail Page</title>
</head>
<body>
	<a href="{{ BACK }}">Back</a>
	<h1>{{ AOC }} Details:</h1>
	{% if StudentorProfessor == "Professor" %}
		<p>You may edit this AOC, but be warned this will change this AOC for EVERYONE!</p>
		<a href="DEAD">Edit AOC</a>
	{% endif %}
	<div class="AOC_Detils_div">
		<p>{{ AOC }} Requirements </p>
		<ul>
			{% for Requirement in Requirements %}
			<li>{{ Requirement }}</li> <!-- this will be expanded apon later -->
			{% endfor %}
		</ul>
	</div>
</body>
</html>