<!DOCTYPE html>
<html>
<head>
    <title>{{ StudentorProfessor }} New Account</title>
</head>
<body>
    <a href="BACK_ADDRESS_HERE">Back</a>
    <h1>Create a {{ StudentorProfessor }} Account</h1>
    <form action="/new_account.php" method="post">

        <p>Email</p>
        <input type="text" name="email">
        <br>
        <p>Name</p>
        <input type="text" name="name">
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">

        <input type="submit" value="Create New Account">
    </form>

    <a href="LOGIN_ADDRESS_HERE">Already have an account?</a>
</body>
</html>
