<!DOCTYPE html>
<html>
<head>
	<title>{{ StudentorProfessor }} Login</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <button class="back" onclick="location.href='landingpage.html'">Back</button>
	<h1>{{ StudentorProfessor }} Login</h1>
    <form action="/authentication.php" method="post">
    	<p>Welcome back! Please enter your email.</p>
    	<input type="email" name="email">
        <br>
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">
        <button type="submit">Login</button>
    </form>
    <button>Create an Account</button>
</body>
</html>
