<!DOCTYPE html>
<html>
<head>
	<title>AOC Detail Page</title>
	<link rel="stylesheet" type="text/css" href="aocdetail.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
	<button class="back">Back</button>
	<h1>{{ AOC }} Details:</h1>
	<h3>Department: {{ Department }}</h3>
	{% if not StudentorProfessor %}
		{% if StudentorProfessorDepartment == Department %}
			<p>Since the AOC you are currently viewing is within your department you have access to edit it, but be warned this will change this AOC for everyone</p>
			<a href="AOC_EDIT_ADDRESS_HERE">Edit AOC</a>
		{% else %}
			<p>Note: since are not in the same department as this AOC you do not have access to edit it. If you see an edit that needs to be made please contact another professor in the same department as this AOC</p>
		{% endif %}
	{% endif %}
	<div class="AOC_Detils_div">
		<p>{{ AOC }} Requirements </p>
		<ul>
			{% for Requirement in Requirements %}
			<li>{{ Requirement }}</li> <!-- this will be expanded apon later -->
			{% endfor %}
		</ul>
	</div>
</body>
</html>