<!DOCTYPE html>
<html>
<head>
    <title>FERPA</title>
</head>
<body>
    <a href="LOGOUT_ADDRESS_HERE">Logout</a>
    <h1>Welcome back Prof. USERNAME_HERE!</h1>
    <h2>You are currently advising students under the following AoCs:</h2>
    <table style="width:50%">
        <tr>
            <th>Student</th>
            <th>AoC</th>
        </tr>
        <tr>
            <th>Hunt Sparra</th>
            <th>Computer Science</th>
        </tr>
    </table>
    <a href="ADD_AOC_ADDRESS_HERE">Add AoC</a>
    <br>
    <a href="EDIT_AOC_ADDRESS_HERE">Edit AoC</a>
    <br>
    <a href="ADD_COURSE_ADDRESS_HERE">Add Course</a>
</body>
</html>
