<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<link rel="stylesheet" type="text/css" href="profaddcourse.css">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
	<button class="back">Back</button>
	<form>
		<h1>Add Courses</h1>
		<div>
			<p class="name">Name:</p>
			<input class="course_name"type="text" name="CourseName">
		</div>
		<br>
		<p>Note: you may only make courses that correspond to your department, if you want to make a course that belongs to a different department please contact a professor from that department</p>
		<button>Cancel</button>
		<button type="submit">Submit</button>
	</form>
</body>
</html>