<!DOCTYPE html>
<html>
<head>
	<title>{{ Student }} Homepage</title>
</head>
<body>
    <a href="LOGOUT_ADDRESS_HERE">Logout</a>
    <h1>Welcome back {{ Student }}!</h1>
    <h2>You have _______ class(es) left to complete your AOC _______.</h2>
    <h2>{{ progress_sentece[0] }}</h2>
    <h3>You are (not) on track to graduate by ________.</h3>
    <h3>{{ progress_sentece[1] }}</h3>
    <br>
    <br>
    <a href="STUDENT_BREAKDOWN_HERE">View Detailed Progress Report</a>
    <br>
    <br>
    <a href="ADD_COURSE_ADDRESS_HERE">Add Courses to Transcript</a>
    <br>
    <br>
    <a href="EDIT_STUDENT_PROFILE_ADDRESS_HERE">Edit Your Student Profile</a>
    <br>
    <br>
</body>
</html>
