<!DOCTYPE html>
<html>
<head>
	<title>{{ Student }} Homepage</title>
</head>
<body>
    <a href="{{ LOGOUT }}">Logout</a>
    <h1>Welcome back {{ Student }}!</h1>
    <h2>You have _______ class(es) left to complete your AOC _______.</h2>
    <h2>{{ progress_sentece[0] }}</h2>
    <h3>You are (not) on track to graduate by ________.</h3>
    <h3>{{ progress_sentece[1] }}</h3>
    <br>
    <br>
    <a href="{{ ADDRESS }}/{{ Student }}/studentProgressBreakdown">View Detailed Progress Report</a>
    <br>
    <br>
    <a href="{{ ADDRESS }}/{{ Student }}/studentAddCourse">Add Courses to Transcript</a>
    <br>
    <br>
    <a href="{{ ADDRESS }}/{{ Student }}/editProfile">Edit Your Student Profile</a>
    <br>
    <a href="{{ ADDRESS }}/browseAOCs">Browse AoCs</a>
    <br>
</body>
</html>
