<!DOCTYPE html>
<html>
<head>
    <title>FERPA</title>
</head>
<body>
    <a href="BACK_ADDRESS_HERE">Back</a>
    <h1>____ Graduation Progress</h1>
    <form>
        <h3>AoC Requirements</h3>
        <input type="checkbox" name="req1">Object Oriented Programming<br>
        <input type="checkbox" name="req1">Object Oriented Design<br>
        <h3>LAC Requirements</h3>
        <input type="checkbox" name="req1">Diverse Perspectives<br>
    </form>
    <h2>Courses Taken</h2>
        <p>Introduction to International Politics</p>
        <p>Pekingese and Society</p>
        <a href="ADD_COURSE_ADDRESS_HERE">Add Course</a>
</body>
</html>
