<!DOCTYPE html>
<html>
<head>
    <title>FERPA</title>
</head>
<body>
    <a href="BACK_ADDRESS_HERE">Back</a>
    <h1>Create a Student Account</h1>
    <form action="/new_account.php" method="post">

        <p>Email</p>
        <input type="text" name="email">

        <p>Name</p>
        <input type="text" name="name">

        <p>Graduation year</p>
        <input type="number" name="year"> <input type="text" name="FallorSpring">
        <!-- both parts will be drop down menus. the FallorSpring portion will have them choose
        either fall or spring and spring will have may as its value and fall will have its month -->

        <input type="submit" value="Create New Account">
    </form>

    <a href="LOGIN_ADDRESS_HERE">Already have an account?</a>
</body>
</html>
