<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
</head>
<script>
	//this is here for later, this page will definarlt require it
</script>
<body>
	<a href="{{ BACK }}">Back</a>
	<p>To find the course you would like to add click on 'Browse Courses' and select the course you want from the menu. If you would like to add multiple courses at one time simply click 'Add Another Course' and repeat the process above. If you decide you don't want to add a course simply click the red X next to that course. When you are done with adding courses click 'Submit New Courses'.</p>
	<form>
		<div class="Courses">
			<div class="Course_indiviual" id="1">
				<button>red X</button>
				<p>Add Course</p>
				<select>
					{% for Course in CourseList %}
					<option value="{{ Course }}">{{ Course }}</option>
					{% endfor %}
				</select>
			</div>
			<button>Add Another Course</button>
		</div>
		<button type="submit">Submit New Courses</button>
	</form>
</body>
</html>
