/*Changes to HTML:
- Links
- added class to back link and made it a button
- added a title
- wrapped things in divs
- put a class on the cancel button
- moved 'add another requirement' out of the aoc div
*/

body {
	text-align: center;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	background-image: url("background3.jpg");
	background-color: #53256C; /*if image isn't available*/
	background-size: cover;
	color: #D3D9FF;
	width: 75%;
	margin: auto;
	font-size: 1.5em;
	font-weight: normal;
}

button {
 	border-radius: 12px;
 	border: 1px solid #D3D9FF;
 	background-color: transparent;
 	padding: 12px;
 	margin-top: 5vh;
 	margin-bottom: 5vh;
	color: #D3D9FF;
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	cursor: url('pickaxe.png'), pointer;
}

button:hover {
 	border-radius: 12px;
 	border: 1px solid #D3D9FF;
	background-color: #53256C;
	padding: 12px;
}

.inlineButton {
	display: inline;
	font-size: 1.2em;
	float: left;
	margin: 0.5em;
}

.add_course_button {
	margin-left: 40%;
	margin-right: 40%;
	border: 1px solid #D3D9FF;
	border-radius: 12px;
	display: block;
}

.req_button {
	margin-left: 30vw;
	margin-right: 30vw;
	border: 1px solid #D3D9FF;
	border-radius: 12px;
	display: block;
	cursor: url('pickaxe.png'), pointer;
	padding: 12px;
}

.req_button:hover {
	border-radius: 12px;
	border: 1px solid #D3D9FF;
	background-color: #53256C;
}

.bottom_buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 32vw;
	margin-right: 32vw;
}

.buttonCopy {
    border-radius: 12px;
    border: 1px solid #D3D9FF;
    background-color: transparent;
    padding: 12px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #D3D9FF;
    font-family: 'Amatic SC', cursive;
    font-size: 1.2em;
    cursor: url('pickaxe.png'), pointer;
}

.buttonCopy:hover {
    border-radius: 12px;
    border: 1px solid #D3D9FF;
    background-color: #53256C;
    padding: 12px;
}

.back {
	border-radius: 12px;
 	border: 1px solid #D3D9FF;
 	background-color: transparent;
 	margin-bottom: 20px;
 	color: #D3D9FF;
	display: block;
	transform: translateX(-12vw);
	margin-top: 5px;
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	padding-top: 0;
	padding-bottom: 0;
}

.back:hover {
	border-radius: 12px;
 	border: 1px solid #D3D9FF;
	padding-top: 0;
	padding-bottom: 0;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
  	border: 1px solid #D3D9FF;
}

/* Track */
::-webkit-scrollbar-track {
  	background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  	background: #D3D9FF; 
}

.aoc_name {
	display: inline-block;
}

.aoc_name_p {
	float: left;
	margin-right: 2vw;
}

input {
	float: right;
	border: none;
	border-bottom: 1px solid #D3D9FF;
	border-top: none;
	color: #D3D9FF;
	background-color: transparent;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	font-size: 1.3em;
	margin-top: 2vh;
}

.AOC_div {
	width: 70%;
	margin: auto;
	border: 1px solid #D3D9FF;
	padding-left: 2em;
	padding-right: 2em;
	text-align: left;
}

.div_label {
	display: inline-block;
	float: left;
	margin-right: 2vw;
	margin-left: 2vw;
	font-weight: bold;
}

.div_label::after {
	content: '';
	display: block;
}

.number p {
	font-weight: normal;
}

.name, .number, .req_courses {
	display: inline-block;
}

.req_courses {
	display: flex;
	align-content: left;
	margin-top: 14vh;
	margin-left: 5vw;
	justify-content: flex-start;
}

.Courses_din {
	display: inline-flex
}

.Courses_div input {
	margin-left: 10vw;
}

.cancel {
	margin-right: 5vw;
}

select {
	border: 1px solid #D3D9FF;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	background-color: #050608;
	font-size: 1.2em;
	color: #D3D9FF;
	margin-top: 2.5vh;
	width: 75%;
}

.name p {
	font-weight: bold;
	text-decoration: underline;
}
