/*Changes to HTML:
- Links
- added class to back link and made it a button
- added a title
*/

body {
	text-align: center;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	background-image: url("background4.png");
	background-color: #53256C; /*if image isn't available*/
	background-size: cover;
	color: #D3D9FF;
	width: 75%;
	margin: auto;
	font-size: 1.5em;
	font-weight: normal;
}

button {
 	background-color: #050608;
	border: none;
 	margin-top: 1vh;
 	margin-bottom: 1vh;
	color: #D3D9FF;
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	cursor: url('pickaxe.png'), pointer;
	height: 100%;
	width: 60vw;
	cursor: url('pickaxe.png'), pointer;
}

button:hover {
	background-color: #53256C;
}

table {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #D3D9FF;
	height: 60vh;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	background-color: #050608;
}

tr {
	text-align: center;
}

.back {
	border-radius: 12px;
 	border: 1px solid #D3D9FF;
 	background-color: transparent;
 	margin-bottom: 20px;
 	color: #D3D9FF;
	display: block;
	transform: translateX(-12vw);
	margin-top: 5px;
	font-family: 'Amatic SC', cursive;
	font-size: 1.2em;
	padding-top: 0;
	padding-bottom: 0;
	width: auto;
}

.back:hover {
	border-radius: 12px;
 	border: 1px solid #D3D9FF;
	padding-top: 0;
	padding-bottom: 0;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
  	border: 1px solid #D3D9FF;
}

/* Track */
::-webkit-scrollbar-track {
  	background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  	background: #D3D9FF; 
}

select {
	border: 1px solid #D3D9FF;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	background: transparent;
	font-size: 1.2em;
	color: #D3D9FF;
}
