/*
Changes to HTML:
- Added divs to students and profs
- Wrapped those divs in one big div
- Capitalized Blue Dream
- Added the explanation text
*/

body {
	text-align: center;
	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
	background-image: url("background1.png");
	background-color: #53256C; /*if image isn't available*/
	background-size: cover;
	color: #D3D9FF;
	width: 75%;
	margin: auto;
	font-size: 1.5em;
}

h1, h2 {
	font-weight: normal;
}

h1 {
	text-shadow: -2px 2px #53256C;
}

h2 {
	text-decoration: underline;
}

button {
 	border-radius: 12px;
 	border: 1px solid #D3D9FF;
 	background-color: transparent;
 	padding: 12px;
 	margin-bottom: 20px;
 	color: #D3D9FF;
 	font-family: 'Amatic SC', 'Arial Narrow', sans-serif;
 	font-size: 1.2em;
}

button:hover {
 	border-radius: 12px;
 	border: 1px solid #D3D9FF;
 	background-color: #53256C;
 	padding: 12px;
}

.container {
	margin: auto;
}

.students {
	float: left;
	margin-left: 10vw;
}

.profs {
	float: right;
	margin-right: 10vw;
}