<!DOCTYPE html>
<html>
<head>
	<title>Add AOC</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='addaoc.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<script>
	var dataMap = new Map();
	{% for course in courses %}
		dataMap.set("{{ course[1] }}", {{ course[0] }});
	{% endfor %}

	function removeCourseFromForm(element, counterId) {
		element.parentElement.parentElement.removeChild(element.parentElement);
		counter = document.getElementById(counterId);
		counter.value -= 1;
	}

	function removeRequirementFromForm(element, buttonId) {
		element.parentElement.parentElement.removeChild(element.parentElement);
		button = document.getElementById(buttonId);
		button.parentElement.removeChild(button);
	}

	function verifyCourses() {
		var courseSelectors = document.getElementsByName("chooseCourse");
		var courseInputs = document.getElementsByName("courses[]");

		var i;
		for (i=0; i<courseSelectors.length; i++) {
			var selectedCourse = courseSelectors[i].value;
			var actualValue = dataMap.get(selectedCourse);

			if (actualValue == undefined) {
				alert(selectedCourse+" is not a valid course!");
				return false;
			} else {
				courseInputs[i].value = actualValue;
			}
		}

		return true;
	}
</script>
<datalist id="courses">
	{% for course in courses %}
		<option value="{{ course[1] }}">
	{% endfor %}
</datalist>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	<h1>Add an AOC</h1>
	<p>Please enter the following information to create a new AOC and add it to the database</p>
	<br>
	<form id="form" method="post" onsubmit="return verifyCourses();">
	<div class="aoc_name">
		<p class="aoc_name_p">AOC Name:</p>
		{% if AOC_DATA['NAME'] == '' %}
			<input class="aoc_name_input" type="text" name="AOC_name" maxLength="50" required>
		{% else %}
			<input class="aoc_name_input" type="text" name="AOC_name" value="{{ AOC_DATA['NAME'] }}" maxLength="50" required>
		{% endif %}
	</div>
		<br>
			<h3>Enter Requirements for AOC</h3>
			<div class="AOC_div">
				{% for requirement in AOC_DATA['REQS'] %}
					<div class="Requirement_div">
						<button class="inlineButton" onclick="removeRequirementFromForm(this, 'button_{{ loop.index }}')" type="button">X</button>
						<div class="name">
							<p class="div_label">Requirement Name:</p>
							{% if requirement['NAME'] == '' %}
								<input type="text" name="requirement_names[]" maxLength="50" required>
							{% else %}
								<input type="text" name="requirement_names[]" value="{{ requirement['NAME'] }}" maxLength="50" required>
							{% endif %}
						</div>

						<div class="number">
							<p class="div_label">Number of courses for this requirement:</p>
							<input type="number" name="nums_for_requirements[]" min="0" value="{{ requirement['NUM'] }}" required>
						</div>

						{% set loop_index = loop.index %}
						<input type="hidden" name="courses_lens[]" id="counter_{{ loop_index }}" value="{{ requirement['COURSES']|length }}">
						<p class="div_label">Courses for the requirement:</p>
						<br>
						{% for required_course in requirement['COURSES'] %}
							<div class="req_courses">
								<button class="inlineButton" onclick="removeCourseFromForm(this, 'counter_{{ loop_index }}')" type="button">X</button>
								<div class="Courses_div">
									<input name="courses[]" hidden>
									{% set course_name = [] %}
									{% for course in courses %}
										{% if course[0] == required_course %}
											{% if course_name.append(course[1]) %} {% endif %}
										{% endif %}
									{% endfor %}
									{% if course_name|length == 0 %} {% if course_name.append("") %} {% endif %} {% endif %}
									<input name="chooseCourse" list="courses" value="{{ course_name[0] }}">
									<!--<select name="courses[]">
										{% for course in courses %}
											{% if course[0] == required_course %}
												<option value="{{ course[0] }}" selected>{{ course[1] }}</option>
											{% else %}
												<option value="{{ course[0] }}">{{ course[1] }}</option>
											{% endif %}
										{% endfor %}
									</select>--!>
								</div>
							</div>
						{% endfor %}
					</div>
					<button class="add_course_button" type="submit" name="action" id="button_{{ loop.index }}" value="{{ loop.index }}">add course</button>
				{% endfor %}
			</div>
			<br>
			<button class="req_button" type="submit" name="action" value="add_requirement">add requirement</button>
			<br>
			<div class="bottom_buttons">
				<!--<button type="submit" name="action" value="cancel">Cancel</button>--!>
				<a href="{{ BACK }}" style="text-decoration:none" class="buttonCopy">Cancel</a>
				<button class="buttonCopy" type="submit" name="action" value="submit_form">Submit</button>
			</div>
		</form>
	</body>
</html>
