<!DOCTYPE html>
<html>
<head>
	<title>Invalid Email</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='landingpage.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
	<h1>Please use an email provided by New College of Florida</h1>
	<p>We're sorry, but at this time, we are not supporting non ncf.edu emails.</p>
	<br><br><br>
	<button onclick="location.href='http://www.ncfbluedream.com/'">Return to Site</button>
<body>
</body>
</html>
