<!DOCTYPE html>
<html>
<head>
	<title>Browse AOCs</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='browseaocs.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	<h1>Browse AOCs</h1>
	<p>Select an AOC to view more detail about that AOC</p>
	<div>
		<table>
		{% for AOC in AOCList %}
		<tr>
			<td><button onclick="location.href='{{ ADDRESS }}/AOCDetails/{{ SoP }}/{{ AOC[0] }}'">{{ AOC[1] }}</button></td>
		<tr>
		{% endfor %}
		</table>
	</div>
</body>
</html>
