<!DOCTYPE html>
<html>
<head>
	<title>FERPA</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='ferpa.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
<div>
	<h2>FERPA Agreement</h2>
	<p>Please read carefully over the FERPA agreement. When complete, either select 'I Agree' or 'I Do Not Agree'</p>
	<div class="ferpa">
	<p>
	By providing certain Educational Records to Blue Dream, I consent, understand and acknowledge that I am authorizing Blue Dream to use the Educational Records I have provided for the uses as set forth in the User Agreement. My release of my Educational Records to Blue Dream is limited to Blue Dream and/or those persons expressly named herein. I understand the information specified above may be released orally or in the form of copies of written records. This authorization is limited to Blue Dream and does not extend to any other entity. This authorization has no expiration date; however, I have the right to deny access to the records listed above and/or revoke this consent at any time.
Having read and understood this consent form, I have signed below as my free act and deed.
	</p>
	</div>
	<div class="buttons">
		<button class="no" onclick="location.href='{{ ADDRESS }}/newAccount/Student'">I Do Not Agree</button>
		<button class="yes" onclick="location.href='{{ ADDRESS }}/Welcome'">I Agree</button>
	</div>
</div>
</body>
</html>
