<!DOCTYPE html>
<html>
<head>
    <title>{{ StudentorProfessor }} New Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newaccount.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <button class="back" onclick="location.href='{{ BACK }}'">Back</button>
    <h1>Create a {{ StudentorProfessor }} Account</h1>
    <p>Greetings, new friend! Please enter your information so we can begin our journey together.</p>
    <p>And don't worry about not knowing what your AOC or graduation year is yet, you can change them later, as well as your preferred name!</p>
    <form action="/newAccount/{{ StudentorProfessor }}" method="post">
        <p>Preferred Name:</p>
        <input type="text" name="name" required>
        <br>
        {% if StudentOrProfessor == "student" %}
        <p>Expected Graduation Year:</p>
        <input type="number" name="ExpectedGraduationYear" min="{{ currentYear }}" max="{{ currentYear }}+10" required>
        <br>
        <p>AOC:</p>
        <input list="dropdown" name="AOC" required>
        <select id="dropdown">
            {% for AOC in AOCList %}
            <option value="{{ AOC[1] }}">{{ AOC[0] }}</option>
            {% endfor %}
        </select>
        {% endif %}
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">
        <br>
        <button type="submit">Create New Account</button>
        <br>
    </form>
    <button onclick="location.href='{{ ADDRESS }}/login/{{ StudentorProfessor }}'">Login to Existing Account</button>
</body>
</html>
