<!DOCTYPE html>
<html>
<head>
    <title>{{ StudentorProfessor }} New Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newaccount.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
    <button class="back" onclick="location.href='{{ BACK }}'">Back</button>
    <h1>Create a {{ StudentorProfessor }} Account</h1>
    <p>Greetings, new friend! Please enter your information so we can begin our journey together.</p>
    <p>And don't worry about not knowing what your AOC or graduation year is yet, you can change them later, as well as your preferred name!</p>
    <form action="/newAccount/{{ StudentOrProfessor }}" method="post">
        <p>Preferred Name:</p>
        <input type="text" name="name" required>
        <br>
        {% if StudentOrProfessor == "Student" %}
        <p>Expected Graduation Year:</p>
        <input type="number" name="ExpectedGraduationYear" min="{{ currentYear }}" max="{{ currentYear }}+10" required>
        <br>
        <p>AOC:</p>
        <select id="dropdown" name="AOC"  required>
            {% for AOC in AOCList %}
            <option value="{{ AOC[0] }}">{{ AOC[1] }}</option>
            {% endfor %}
        </select>
	<br>
	<p>Advisor</p>
	<select id="Advisordropdown" name="advisor" required>
		{% for advisor in AdvisorList %}
		<option value="{{ advisor[0] }}">{{ advisor[1] }} </option>
		{% endfor %}
	</select>
	<br>
	<p>Agree to share progress with advisor:</p>
	<input type="checkbox" name="agreement" required>
	<br>
        {% endif %}
        <input type="hidden" name="StudentorProfessor" value="{{ StudentorProfessor }}">
        <br>
        <button type="submit">Create New Account</button>
        <br>
    </form>
    <button onclick="location.href='{{ ADDRESS }}/login/{{ StudentorProfessor }}'">Login to Existing Account</button>
</body>
</html>
