<!DOCTYPE html>
<html>
<head>
	<title>AOC Detail Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='aocdetail.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	<h1>{{ AOC[1] }} Details:</h1>
	{% if StudentOrProfessor == "Professor" %}
		<form method="post">
			<button type="submit">Edit AOC</button>
		</form>
	{% endif %}
	<div class="AOC_Detils_div">
		<p>{{ AOC[1] }} Requirements: </p>
		<ul class="requirementList">
			{% for Requirement in AOC[2] %}
			<li>{{ Requirement[1] }} : {{ Requirement[4] }}</li>
				<ul class="courseList">
				{% for course in Requirement[3] %}
					<li>{{ course[1] }}</li>
				{% endfor %}
				</ul>
			{% endfor %}
		</ul>
	</div>
</body>
</html>
