<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profaddcourse.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	<h2>{{ Warning }}</h2>
	<form>
		<h1>Add Courses</h1>
		<div>
			<p class="name">Name:</p>
			<input class="course_name" type="text" name="CourseName">
		</div>
		<br>
		<button onclick="location.href='{{ BACK }}'">Cancel</button>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
