<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profaddcourse.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<script>
	function removeRequired(){
		var input = document.getElementById("I");
		input.required = false;
	}
</script>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	{% if Warning != None %}
	<h2>{{ Warning }}</h2>
	{% endif %}
	<form method="post">
		<h1>Add Courses</h1>
		<div>
			<p class="name">Name:</p>
			<input id="I" class="course_name" type="text" name="CourseName" maxLength="100" required>
		</div>
		<br>
		<button onclick="removeRequired()" name="submitType" value="Cancel">Cancel</button>
		<button type="submit" name="submitType" value="Submit">Submit</button>
	</form>
</body>
</html>
