<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='studentaddcourse.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<script>
	var count = 2;
	function AnotherCourse() {
		var bigDiv = document.getElementById("bigDiv");
		var smallerDiv = document.createElement("div");
		smallerDiv.setAttribute("class","Course_indiviual");
		smallerDiv.setAttribute("id",count.toString());

		var Xbutton = document.createElement("button");
		Xbutton.setAttribute("class","course_item");
		Xbutton.setAttribute("id","x"+count);
		Xbutton.setAttribute("onclick","removeChoice("+count+")");
		Xbutton.setAttribute("type","button");
		Xbutton.innerHTML = "X";

		var AddCourseText = document.createElement("p");
		AddCourseText.setAttribute("class","course_item");
		AddCourseText.innerHTML = "Add Course";

		//var courseListInput = document.createElement("input");
		//courseListInput.setAttribute("list", "allCourses");
		//courseListInput.setAttribute("type", "text");
		//courseListInput.setAttribute("id","course"+count.toString());
		//courseListInput.setAttribute("name","courseChoice[]");

		var courseListInput = document.createElement("select");
		courseListInput.setAttribute("name","courseChoice[]");

		var option;
		{% for course in CourseList %}
			option = document.createElement("option");
			courseListInput.appendChild(option);
			option.value = "{{ course[0] }}";
			option.innerHTML = "{{ course[1] }}";
		{% endfor %}

		smallerDiv.appendChild(Xbutton);
		smallerDiv.appendChild(AddCourseText);
		smallerDiv.appendChild(courseListInput);
		bigDiv.appendChild(smallerDiv);
		count++;
		return false;
	}
	function removeChoice(IDnumber) {
		var smallerDiv = document.getElementById(IDnumber);
		var bigDiv = smallerDiv.parentNode;
		bigDiv.removeChild(smallerDiv);
	}
</script>
<datalist id="courses">
	{% for course in CourseList %}
		<option value={{ course[0] }}>{{ course[1] }}</option>
	{% endfor %}
</datalist>
<body>
	<button class="back" onclick="location.href='{{ BACK }}'">Back</button>
	<h1>Add Courses</h1>
	<p>To find the course you would like to add click on 'Browse Courses' and select the course you want from the menu. If you would like to add multiple courses at one time simply click 'Add Another Course' and repeat the process above. If you decide you don't want to add a course simply click the red X next to that course. When you are done with adding courses click 'Submit New Courses'.</p>
	<form method="post">
		<div class="Courses" id="bigDiv">
		</div>
		<div class="Courses">
			<button type="button" onclick="AnotherCourse()">Add Another Course</button>
		</div>
		<button type="submit">Submit New Courses</button>
	</form>
</body>
</html>
