<!DOCTYPE html>
<html>
<head>
    <title>{{ NAME }} Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='studenthomepage.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>        
    <button class="logout" onclick="location.href='{{ LOGOUT }}'">Logout</button>
    <h1>Welcome back {{ NAME }}!</h1>
    <h2>{{ progress_sentece }}</h2>
    <br>
    <br>
    <button onclick="location.href='{{ ADDRESS }}/{{ Student }}/studentProgressBreakdown'">View Detailed Progress Report</button>
    <br>
    <br>
    <button onclick="location.href='{{ ADDRESS }}/{{ Student }}/studentAddCourse'">Add Courses to Transcript</button>
    <br>
    <br>
    <button onclick="location.href='{{ ADDRESS }}/{{ Student }}/editProfile'">Edit Your Profile</button>
    <br>
    <br>
    <button onclick="location.href='{{ ADDRESS }}/browseAOCs'">Browse AoCS</button>
    <br>
    <br>
</body>
</html>
